@font-face {
  font-family: "lato light";
  src: url("../font/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "lato";
  src: url("../font/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato bold";
  src: url("../font/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato italic";
  src: url("../font/lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "anton";
  src: url("../font/anton/anton_regular.ttf");
}

@font-face {
  font-family: "oswald";
  src: url("../font/oswald/oswald.ttf");
}

footer {
  font-family: "lato bold";
  color: #404041;
  font-size: 0.7em;
  text-align: right;
}
.side_bar {
  background-image: url("../maquettes/img/bg_sidebar.jpg");
  width: 25%;
  .profil {
    font-family: "lato bold";
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    .type_user {
      font-family: "lato light";
      color: white;
    }
    nav {
      list-style: none;
      padding-top: 25px;
      padding-bottom: 25px;

      ul {
        margin: 3rem 0 0 0;
        padding: 0;

        li {
          list-style: none;
          padding-top: 25px;
          padding-bottom: 25px;
          a {
            text-decoration: none;
            font-family: "lato";
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            text-transform: uppercase;
          }
          a:hover {
            color: #888;
          }
        }
      }
    }
  }
}
// ##########################################################
// ##########################################################
//                        NAV TOP
// ##########################################################
// ##########################################################
.infos_connec {
  background-color: #e6e7e8;
  height: 10vh;
  width: 100%;
  font-family: "lato bold";
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem 0 0;
  .dropdown:hover .dropdown-menu {
    background-color: rgba($color: white, $alpha: 0.5);
    border: #cfcfcf solid 1px;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
    font-family: "lato bold";
    display: block;
    min-width: 8rem;
    text-align: center;
    top: 100%;
    left: -50px;
    a {
      color: #404041;
      font-size: 0.8em;
      text-decoration: none;
      list-style: none;
    }
    a:hover {
      color: #f05a28;
    }
  }
  img {
    margin: 0 0.2rem 0 0.5rem;
  }
}
// ##########################################################
// ##########################################################
//                        HOME.PHP
// ##########################################################
// ##########################################################
.body {
  .main {
    padding: 0;
    display: flex;
    flex-direction: row;

    .side_bar_home {
      background-image: url("../maquettes/img/bg_sidebar.jpg");
      width: 25%;
      .profil {
        font-family: "lato bold";
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10vh;
        .type_user {
          font-family: "lato light";
          color: white;
        }
        nav {
          list-style: none;
          padding-top: 25px;
          padding-bottom: 25px;

          ul {
            margin: 3rem 0 0 0;
            padding: 0;

            li {
              list-style: none;
              padding-top: 25px;
              padding-bottom: 25px;
              a {
                text-decoration: none;
                font-family: "lato";
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                text-transform: uppercase;
              }
              a:hover {
                color: #888;
              }
            }
          }
        }
      }
    }

    .contains_top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 2rem 0 2rem 0;
      .nb_inscrit {
        font-family: "lato bold";
        color: #404041;
        font-size: 1.2em;
        text-align: center;
        background-color: white;
        box-shadow: 5px 5px 15px 0px #cfcfcf;
        padding: 1rem;
        h4 {
          font-family: "lato bold";
          color: #f05a28;
          font-size: 1.1em;
        }
      }
      .last_match {
        h4 {
          font-family: "lato bold";
          color: #f05a28;
          font-size: 1.1em;
        }
        p {
          margin: 0;
        }
        font-family: "lato bold";
        color: #404041;
        font-size: 1.2em;
        text-align: center;
        background-color: white;
        box-shadow: 5px 5px 15px 0px #cfcfcf;
        padding: 1rem;
      }
      .top_un {
        h4 {
          font-family: "lato bold";
          color: #f05a28;
          font-size: 1.1em;
        }
        font-family: "lato bold";
        color: #404041;
        font-size: 1.2em;
        text-align: center;
        background-color: white;
        box-shadow: 5px 5px 15px 0px #cfcfcf;
        padding: 1rem;
      }
      .total_match {
        h4 {
          font-family: "lato bold";
          color: #f05a28;
          font-size: 1.1em;
        }
        font-family: "lato bold";
        color: #404041;
        font-size: 1.2em;
        text-align: center;
        background-color: white;
        box-shadow: 5px 5px 15px 0px #cfcfcf;
        padding: 1rem;
      }
    }
    .contains_graph {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .tableau_top {
        margin: 0;
        padding: 0;
        .bg_tableau {
          background-color: white;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
          padding: 2rem;
          h4 {
            font-family: "lato bold";
            color: #f05a28;
            font-size: 1.3em;
            text-align: center;
          }
          ul {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 0;
            .underline {
              border-bottom: rgb(219, 219, 219) 1px solid;
            }
            li {
              text-align: center;
              list-style: none;
              font-family: "lato";
              color: #404041;
              font-size: 1.2em;
              margin-bottom: 0.5rem;
              margin-top: 0.5rem;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
            }
            .entete {
              font-family: "lato bold";
            }
            .nb_joueur {
              text-align: center;
              list-style: none;
              font-family: "lato bold";
              color: #404041;
              font-size: 0.8em;
              margin: 0.5rem auto 0.5rem auto;
            }
          }
        }
      }
      .graph_bar {
        .bg_graph_bar {
          padding: 2rem;
          background-color: white;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
          h4 {
            text-align: center;
            font-family: "lato bold";
            color: #f05a28;
            font-size: 1.3em;
          }
        }
      }
    }
    .contains_camembert {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      margin: 2rem 5px 2rem 5px;
      // width: 100%;
      .camembert_un {
        margin-right: 7px;
        width: 49%;
        background-color: white;
        box-shadow: 5px 5px 15px 0px #cfcfcf;
        padding: 2rem 0 2rem 0;
        color: #333;
        h4 {
          text-align: center;
          font-family: "lato bold";
          color: #f05a28;
          font-size: 1.3em;
        }
      }
      .camembert_deux {
        margin-left: 7px;
        width: 49%;
        background-color: white;
        box-shadow: 5px 5px 15px 0px #cfcfcf;
        padding: 2rem 0 2rem 0;
        color: #333;
        h4 {
          text-align: center;
          font-family: "lato bold";
          color: #f05a28;
          font-size: 1.3em;
        }
      }
    }
  }
}

// ##########################################################
// ##########################################################
//                        LOGIN.PHP
// ##########################################################
// ##########################################################

.bg_login {
  background-image: url("../img/background/basketball-1081882.jpg");
  background-size: cover;
  height: 100vh;
  .container {
    padding: 10rem 0 0 0;
    width: 400px;
    .info_error {
      text-align: center;
      font-family: "lato bold";
      color: #f05a28;
    }
    .main_login {
      background-color: rgba($color: white, $alpha: 0.85);
      display: flex;
      flex-direction: column;
      h2 {
        margin-top: 1rem;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 1rem;
        font-family: "anton";
      }
      .input_login {
        display: flex;
        flex-direction: column;
        padding: 1rem 4rem 1rem 4rem;
        .input_log {
          background-color: rgba($color: white, $alpha: 0.5);
          height: 40px;
          border: 1px solid #cfcfcf;
          padding: 10px;
          font-family: "lato";
          color: #404041;
        }
        label {
          color: #404041;
          font-family: "oswald";
          font-size: 1.2em;
        }
      }

      .btn {
        margin-top: 2rem;
        color: white;
        font-family: "oswald";
        font-size: 1.3em;
        text-align: center;
        width: 100%;
        background-color: #404041;
        text-align: center;
      }
      .btn:hover {
        background-color: #f05a28;
        transition-duration: 0.5s;
      }
    }
  }
}

// ##########################################################
// ##########################################################
//                        SAISONS.PHP
// ##########################################################
// ##########################################################

.body {
  .side_bar {
    height: 100vh;
  }
  .titre_saison {
    h3 {
      margin-top: 1rem;
      text-align: center;
      font-size: 2.5em;
      margin-bottom: 1rem;
      font-family: "anton";
    }
    .info_error {
      text-align: center;
      font-family: "lato bold";
      color: #f05a28;
    }
  }
  .form_saison {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
    background-color: white;
    box-shadow: 5px 5px 15px 0px #cfcfcf;
    .creation_saison {
      display: flex;
      flex-direction: column;
      align-items: center;
      label {
        margin-top: 2rem;
        font-family: "lato bold";
        color: #f05a28;
      }
      .btn {
        margin-top: 2rem;
        font-family: "lato bold";
        background-color: #f05a28;
        color: white;
        width: 100%;
      }
      .btn:hover {
        background-color:#333;
        transition-duration: 0.5s;
      }
    }
  }

  .gestion_saison {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
    background-color: white;
    box-shadow: 5px 5px 15px 0px #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      margin-top: 2rem;
      font-family: "lato bold";
      color: #f05a28;
    }
    .btn {
      margin-top: 2rem;
      font-family: "lato bold";
      background-color: #f05a28;
      color: white;
      width: 100%;
    }
  }
}

// ##########################################################
// ##########################################################
//                        NOTIFS.PHP
// ##########################################################
// ##########################################################

.body {
  .main_notifs {
    h3 {
      margin-top: 1rem;
      text-align: center;
      font-size: 2.5em;
      margin-bottom: 1rem;
      font-family: "anton";
    }
    .info_error {
      text-align: center;
      font-family: "lato bold";
      color: #f05a28;
    }
    .add_events {
      margin-top: 2rem;
      padding: 0 2rem 2rem 2rem;
      background-color: white;
      box-shadow: 5px 5px 15px 0px #cfcfcf;
      display: flex;
      flex-direction: row;
      .formulaire_notif {
        .input_notifs {
          display: flex;
          flex-direction: column;
          label {
            margin-top: 2rem;
            font-family: "lato bold";
            color: #f05a28;
          }
        }
        .btn {
          margin-top: 2rem;
          font-family: "lato bold";
          background-color: #f05a28;
          color: white;
          width: 100%;
        }
        .btn:hover {
          background-color:#333;
          transition-duration: 0.5s;
        }
      }
      .dernier_match {
        margin-top: auto;
        margin-bottom: auto;
        color: #404041;
        h4 {
          font-size: 1.2em;
          font-family: "lato bold";
          margin-bottom: 2rem;
        }
        p {
          font-family: "lato";
          span {
            font-family: "lato bold";
            color: #f05a28;
          }
        }
      }
    }
  }
}
// ##########################################################
// ##########################################################
//                       CREATE_USER.PHP
// ##########################################################
// ##########################################################

.body_createUser {
  margin: 0;
  padding: 0;
  .bg_createUser {
    background-image: url("../img/background/basketball-1081882.jpg");
    background-size: cover;
    // height: 180vh;
    .container {
      padding: 10rem 7rem 10rem 7rem;
      // width: 80%;

      .main_createUser {
        background-color: rgba($color: white, $alpha: 0.85);
        display: flex;
        flex-direction: column;
        h2 {
          margin-top: 1rem;
          text-align: center;
          font-size: 2.5em;
          margin-bottom: 1rem;
          font-family: "anton";
        }
        .input-group {
          display: flex;
          flex-direction: column;
          padding: 1rem 4rem 1rem 4rem;
          input {
            background-color: rgba($color: white, $alpha: 0.5);
            height: 40px;
            border: 1px solid #cfcfcf;
            padding: 10px;
            font-family: "lato";
            font-size: 1.3em;
            color: #404041;
          }
          input:focus {
            border: #f05a28 solid 1px;
          }
          label {
            color: #404041;
            font-family: "oswald";
            font-size: 1.2em;
          }
        }
        .selecteur {
          display: flex;
          flex-direction: row;
          select {
            padding: 10px;
            background-color: rgba($color: white, $alpha: 0.5);
            color: #404041;
            font-family: "oswald";
            font-size: 1.3em;
            width: 170%;
          }
          select:focus {
            border: #f05a28 solid 1px;
          }
        }
        .btn {
          margin: 2rem 0 0 0;
          color: white;
          font-family: "oswald";
          font-size: 1.3em;
          text-align: center;
          width: 100%;
          background-color: #404041;
          text-align: center;
          border: none;
          height: 50px;
        }
        .btn:hover {
          background-color: #f05a28;
          transition-duration: 0.5s;
        }
      }
    }
  }
}
// ##########################################################
// ##########################################################
//                        EVENTS.PHP
// ##########################################################
// ##########################################################

.body {
  .titre_events {
    h3 {
      margin-top: 1rem;
      text-align: center;
      font-size: 2.5em;
      margin-bottom: 1rem;
      font-family: "anton";
    }
    .info_error {
      text-align: center;
      font-family: "lato bold";
      color: #f05a28;
    }
  }
  #calendar-container {
    overflow-x: scroll;
    background-color: #333;
    color: white;
    width: 90vw;
    min-height: 300px;
    max-width: 800px;
    display: block;
    margin: 2vh auto;
    // border-radius: 10px;
    padding: 5px 10px;
    font-family: "lato bold";
    #calendar-title {
      width: 90%;
      margin: 5vh auto;
      text-align: center;
      font-family: "lato bold";
    }

    #calendar-table {
      width: auto;
      margin: auto;
    }

    #calendar-table td,
    #calendar-table th {
      padding: 15px 20px;
      border: none;
      text-align: center;
      border-radius: 10px;
    }

    .today-cell {
      background-color: #888;
    }

    #date-text {
      text-align: center;
    }

    .btn {
      display: inline-block;
      width: 0px;
      height: 0px;
      border: 10px solid #333;
      margin: 1px 10px;
    }

    .btn.left {
      border-right: 10px solid white;
      margin: 0px;
      padding: 0px;
    }

    .btn.right {
      border-left: 10px solid white;
      margin: 0px;
      padding: 0px;
    }

    .btn.left:hover {
      border-right: 10px solid #ccc;
      cursor: pointer;
    }

    .btn.right:hover {
      border-left: 10px solid #ccc;
      cursor: pointer;
    }

    #calendar-table td:hover {
      background-color: #ddd;
      cursor: pointer;
      color: black;
    }
  }
}

// ##########################################################
// ##########################################################
//                        USERS_NOTIFS.PHP
// ##########################################################
// ##########################################################

.formulaire_notif_user {
  align-items: center;
  .input_notifs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    h4 {
      margin-top: 1rem;
      font-size: 1.2em;
      font-family: "lato bold";
      margin-bottom: 1rem;
      color: #404041;
    }
    label {
      // margin-top: .1rem;
      font-family: "lato bold";
      color: #f05a28;
    }
    p {
      margin-bottom: 1rem;
      font-family: "lato";
      color: #404041;
    }
  }
  .btn {
    margin-top: 1rem;
    font-family: "lato bold";
    background-color: #f05a28;
    color: white;
    width: 100%;
  }
  .btn:hover {
    background-color:#333;
    transition-duration: 0.5s;
  }
}
.prochain_match {
  // margin-top: auto;
  // margin-bottom: auto;
  color: #404041;
  h4 {
    margin-top: 1rem;
    font-size: 1.2em;
    font-family: "lato bold";
    margin-bottom: 1rem;
    color: #404041;
  }
  p {
    font-family: "lato";
    span {
      font-family: "lato bold";
      color: #f05a28;
    }
  }
}

// ##########################################################
// ##########################################################
//                        USERS_PARAM.PHP
// ##########################################################
// ##########################################################

.main_params {

  h3 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1rem;
    font-family: "anton";
  }
  .content_params{
    margin-top: 2rem;
    padding: 2rem 6rem 4rem 6rem;
    background-color: white;
    box-shadow: 5px 5px 15px 0px #cfcfcf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  .info_user {
    h4 {
      padding-top: 2rem;
      font-size: 1.2em;
      font-family: "lato bold";
      margin-bottom: 1rem;
    }
    p {
      margin-top: 2rem;
      font-family: "lato bold";
      color: #f05a28;
      span {
        font-family: "lato";  
        color: #404041;
      }
    }
    

  }


  .changeMp {
    align-items: center;
    text-align: left;

    .input_mp {
      display: flex;
      flex-direction: column;
      h4 {
        padding-top: 2rem;
        font-size: 1.2em;
        font-family: "lato bold";
        margin-bottom: 1rem;
      }
      input {
        height: 33px;
        width: 100%;
      }
      label {
        margin-top: 2rem;
        font-family: "lato bold";
        color: #f05a28;
      }
    }
    .btn {
      margin-top: 2rem;
      font-family: "lato bold";
      background-color: #f05a28;
      color: white;
      width: 100%;
    }
    .btn:hover {
      background-color:#333;
      transition-duration: 0.5s;
    }
  }
}
}


