@font-face {
  font-family: "lato light";
  src: url("../font/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "lato";
  src: url("../font/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato bold";
  src: url("../font/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato italic";
  src: url("../font/lato/Lato-Italic.ttf");
}
// ##########################################################
// ##########################################################
//                        HOME.PHP
// ##########################################################
// ##########################################################
.body {
  .main {
    padding: 0;
    display: flex;
    flex-direction: row;
    // background-color: #cccccb;
    .side_bar {
      background-image: url("../maquettes/img/bg_sidebar.jpg");
      width: 25%;
      .profil {
        font-family: "lato bold";
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10vh;
        .type_user {
          font-family: "lato light";
          color: white;
        }
      }
      nav ul {
        margin: 3rem 0 0 0;
        padding: 0;

        li {
          list-style: none;
          padding-top: 25px;
          padding-bottom: 25px;
          a {
            text-decoration: none;
            font-family: "lato";
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
          }
          .underline {
            height: 2px;
            border-bottom: solid white 1px;
          }
        }
      }
    }
    .infos_connec {
      background-color: #e6e7e8;
      height: 10vh;
      width: 100%;
    }
  }
}

// ##########################################################
// ##########################################################
//                        LOGIN.PHP
// ##########################################################
// ##########################################################

// ##########################################################
// ##########################################################
//                        SAISONS.PHP
// ##########################################################
// ##########################################################

.body {
  .main_saison {
    background-color: red;
  }
}

// ##########################################################
// ##########################################################
//                        SAISONS.PHP
// ##########################################################
// ##########################################################

.body {
  .main_notifs {
    h3 {
      margin-top: 1rem;
      text-align:center;
      margin-bottom: 2rem;
      font-family: "lato bold";
    }
    .info_error {
      text-align: center;
      font-family: "lato bold";
      color: #f05a28;
    }
    .add_events {
      margin-top: 2rem;
      padding: 0 2rem 2rem 2rem;
      background-color: white;
      box-shadow: 5px 5px 15px 0px #cfcfcf;
      display: flex;
      flex-direction: row;
      .formulaire_notif {
        .input_notifs {
          display: flex;
          flex-direction: column;
          label {
            margin-top: 2rem;
            font-family: "lato bold";
            color: #f05a28;
          }
        }
        .btn {
          margin-top: 2rem;
          font-family: "lato bold";
          background-color: #f05a28;
          color: white;
          width: 100%;
        }
      }
      .dernier_match {
        margin-top: auto;
        margin-bottom: auto;
        
        color: #404041;
        h4 {
          font-size: 1.2em;
          font-family: "lato bold";
          margin-bottom: 2rem;
        }
        p {
          font-family: "lato";
          span {
            font-family: "lato bold";
            color: #f05a28;
          }
        }
      }
    }
  }
}
