@font-face {
  font-family: "lato light";
  src: url("../font/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "lato";
  src: url("../font/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato bold";
  src: url("../font/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato italic";
  src: url("../font/lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "anton";
  src: url("../font/anton/anton_regular.ttf");
}

@font-face {
  font-family: "oswald";
  src: url("../font/oswald/oswald.ttf");
}

footer {
  font-family: "lato bold";
  color: #404041;
  font-size: 0.7em;
  text-align: right;
}

.infos_connec {
  background-color: #e6e7e8;
  height: 10vh;
  width: 100%;
  font-family: "lato bold";
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem 0 0;
}

.infos_connec .dropdown:hover .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5);
  border: #cfcfcf solid 1px;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
  font-family: "lato bold";
  display: block;
  min-width: 8rem;
  text-align: center;
  top: 100%;
  left: -50px;
}

.infos_connec .dropdown:hover .dropdown-menu a {
  color: #404041;
  font-size: 0.8em;
  text-decoration: none;
  list-style: none;
}

.infos_connec .dropdown:hover .dropdown-menu a:hover {
  color: #f05a28;
}

.infos_connec img {
  margin: 0 0.2rem 0 0.5rem;
}

.body .main {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .main .side_bar {
  background-image: url("../maquettes/img/bg_sidebar.jpg");
  width: 25%;
}

.body .main .side_bar .profil {
  font-family: "lato bold";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
}

.body .main .side_bar .profil .type_user {
  font-family: "lato light";
  color: white;
}

.body .main .side_bar .profil .effect-4 {
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.body .main .side_bar .profil .effect-4 ul {
  margin: 3rem 0 0 0;
  padding: 0;
}

.body .main .side_bar .profil .effect-4 ul li {
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.body .main .side_bar .profil .effect-4 ul li a {
  text-decoration: none;
  font-family: "lato";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

.body .main .contains_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 2rem 0 2rem 0;
}

.body .main .contains_top .nb_inscrit {
  font-family: "lato bold";
  color: #404041;
  font-size: 1.2em;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  padding: 1rem;
}

.body .main .contains_top .nb_inscrit h4 {
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.1em;
}

.body .main .contains_top .last_match {
  font-family: "lato bold";
  color: #404041;
  font-size: 1.2em;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  padding: 1rem;
}

.body .main .contains_top .last_match h4 {
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.1em;
}

.body .main .contains_top .last_match p {
  margin: 0;
}

.body .main .contains_top .top_un {
  font-family: "lato bold";
  color: #404041;
  font-size: 1.2em;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  padding: 1rem;
}

.body .main .contains_top .top_un h4 {
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.1em;
}

.body .main .contains_top .total_match {
  font-family: "lato bold";
  color: #404041;
  font-size: 1.2em;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  padding: 1rem;
}

.body .main .contains_top .total_match h4 {
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.1em;
}

.body .main .contains_graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .main .contains_graph .tableau_top {
  margin: 0;
  padding: 0;
}

.body .main .contains_graph .tableau_top .bg_tableau {
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  padding: 2rem;
}

.body .main .contains_graph .tableau_top .bg_tableau h4 {
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.3em;
  text-align: center;
}

.body .main .contains_graph .tableau_top .bg_tableau ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.body .main .contains_graph .tableau_top .bg_tableau ul .underline {
  border-bottom: #dbdbdb 1px solid;
}

.body .main .contains_graph .tableau_top .bg_tableau ul li {
  text-align: center;
  list-style: none;
  font-family: "lato";
  color: #404041;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .main .contains_graph .tableau_top .bg_tableau ul .entete {
  font-family: "lato bold";
}

.body .main .contains_graph .tableau_top .bg_tableau ul .nb_joueur {
  text-align: center;
  list-style: none;
  font-family: "lato bold";
  color: #404041;
  font-size: 0.8em;
  margin: 0.5rem auto 0.5rem auto;
}

.body .main .contains_graph .graph_bar .bg_graph_bar {
  padding: 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
}

.body .main .contains_graph .graph_bar .bg_graph_bar h4 {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.3em;
}

.body .main .contains_camembert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 5px 2rem 5px;
}

.body .main .contains_camembert .camembert_un {
  margin-right: 7px;
  width: 49%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  padding: 2rem 0 2rem 0;
  color: #333;
}

.body .main .contains_camembert .camembert_un h4 {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.3em;
}

.body .main .contains_camembert .camembert_deux {
  margin-left: 7px;
  width: 49%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  padding: 2rem 0 2rem 0;
  color: #333;
}

.body .main .contains_camembert .camembert_deux h4 {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
  font-size: 1.3em;
}

.bg_login {
  background-image: url("../img/background/basketball-1081882.jpg");
  background-size: cover;
  height: 100vh;
}

.bg_login .container {
  padding: 10rem 0 0 0;
  width: 400px;
}

.bg_login .container .info_error {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
}

.bg_login .container .main_login {
  background-color: rgba(255, 255, 255, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg_login .container .main_login h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1rem;
  font-family: "anton";
}

.bg_login .container .main_login .input_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 4rem 1rem 4rem;
}

.bg_login .container .main_login .input_login .input_log {
  background-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  border: 1px solid #cfcfcf;
  padding: 10px;
  font-family: "lato";
  color: #404041;
}

.bg_login .container .main_login .input_login label {
  color: #404041;
  font-family: "oswald";
  font-size: 1.2em;
}

.bg_login .container .main_login .btn {
  margin-top: 2rem;
  color: white;
  font-family: "oswald";
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  background-color: #404041;
  text-align: center;
}

.bg_login .container .main_login .btn:hover {
  background-color: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.body .titre_saison h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1rem;
  font-family: "anton";
}

.body .titre_saison .info_error {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
}

.body .form_saison {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 0 2rem 2rem 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
}

.body .form_saison .creation_saison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .form_saison .creation_saison label {
  margin-top: 2rem;
  font-family: "lato bold";
  color: #f05a28;
}

.body .form_saison .creation_saison .btn {
  margin-top: 2rem;
  font-family: "lato bold";
  background-color: #f05a28;
  color: white;
  width: 100%;
}

.body .gestion_saison {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  padding: 0 2rem 2rem 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .gestion_saison label {
  margin-top: 2rem;
  font-family: "lato bold";
  color: #f05a28;
}

.body .gestion_saison .btn {
  margin-top: 2rem;
  font-family: "lato bold";
  background-color: #f05a28;
  color: white;
  width: 100%;
}

.body .main_notifs h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1rem;
  font-family: "anton";
}

.body .main_notifs .info_error {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
}

.body .main_notifs .add_events {
  margin-top: 2rem;
  padding: 0 2rem 2rem 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .main_notifs .add_events .formulaire_notif .input_notifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .main_notifs .add_events .formulaire_notif .input_notifs label {
  margin-top: 2rem;
  font-family: "lato bold";
  color: #f05a28;
}

.body .main_notifs .add_events .formulaire_notif .btn {
  margin-top: 2rem;
  font-family: "lato bold";
  background-color: #f05a28;
  color: white;
  width: 100%;
}

.body .main_notifs .add_events .dernier_match {
  margin-top: auto;
  margin-bottom: auto;
  color: #404041;
}

.body .main_notifs .add_events .dernier_match h4 {
  font-size: 1.2em;
  font-family: "lato bold";
  margin-bottom: 2rem;
}

.body .main_notifs .add_events .dernier_match p {
  font-family: "lato";
}

.body .main_notifs .add_events .dernier_match p span {
  font-family: "lato bold";
  color: #f05a28;
}

.body_createUser {
  margin: 0;
  padding: 0;
}

.body_createUser .bg_createUser {
  background-image: url("../img/background/basketball-1081882.jpg");
  background-size: cover;
}

.body_createUser .bg_createUser .container {
  padding: 10rem 7rem 10rem 7rem;
}

.body_createUser .bg_createUser .container .main_createUser {
  background-color: rgba(255, 255, 255, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body_createUser .bg_createUser .container .main_createUser h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1rem;
  font-family: "anton";
}

.body_createUser .bg_createUser .container .main_createUser .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 4rem 1rem 4rem;
}

.body_createUser .bg_createUser .container .main_createUser .input-group input {
  background-color: rgba(255, 255, 255, 0.5);
  height: 40px;
  border: 1px solid #cfcfcf;
  padding: 10px;
  font-family: "lato";
  font-size: 1.3em;
  color: #404041;
}

.body_createUser .bg_createUser .container .main_createUser .input-group input:focus {
  border: #f05a28 solid 1px;
}

.body_createUser .bg_createUser .container .main_createUser .input-group label {
  color: #404041;
  font-family: "oswald";
  font-size: 1.2em;
}

.body_createUser .bg_createUser .container .main_createUser .selecteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body_createUser .bg_createUser .container .main_createUser .selecteur select {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #404041;
  font-family: "oswald";
  font-size: 1.3em;
  width: 170%;
}

.body_createUser .bg_createUser .container .main_createUser .selecteur select:focus {
  border: #f05a28 solid 1px;
}

.body_createUser .bg_createUser .container .main_createUser .btn {
  margin: 2rem 0 0 0;
  color: white;
  font-family: "oswald";
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  background-color: #404041;
  text-align: center;
  border: none;
  height: 50px;
}

.body_createUser .bg_createUser .container .main_createUser .btn:hover {
  background-color: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.body .titre_events h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1rem;
  font-family: "anton";
}

.body .titre_events .info_error {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
}

.body #calendar-container {
  overflow-x: scroll;
  background-color: #333;
  color: white;
  width: 90vw;
  min-height: 300px;
  max-width: 800px;
  display: block;
  margin: 2vh auto;
  padding: 5px 10px;
  font-family: "lato bold";
}

.body #calendar-container #calendar-title {
  width: 90%;
  margin: 5vh auto;
  text-align: center;
  font-family: "lato bold";
}

.body #calendar-container #calendar-table {
  width: auto;
  margin: auto;
}

.body #calendar-container #calendar-table td,
.body #calendar-container #calendar-table th {
  padding: 15px 20px;
  border: none;
  text-align: center;
  border-radius: 10px;
}

.body #calendar-container .today-cell {
  background-color: #888;
}

.body #calendar-container #date-text {
  text-align: center;
}

.body #calendar-container .btn {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 10px solid #333;
  margin: 1px 10px;
}

.body #calendar-container .btn.left {
  border-right: 10px solid white;
  margin: 0px;
  padding: 0px;
}

.body #calendar-container .btn.right {
  border-left: 10px solid white;
  margin: 0px;
  padding: 0px;
}

.body #calendar-container .btn.left:hover {
  border-right: 10px solid #ccc;
  cursor: pointer;
}

.body #calendar-container .btn.right:hover {
  border-left: 10px solid #ccc;
  cursor: pointer;
}

.body #calendar-container #calendar-table td:hover {
  background-color: #ddd;
  cursor: pointer;
  color: black;
}

.formulaire_notif_user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulaire_notif_user .input_notifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.formulaire_notif_user .input_notifs h4 {
  margin-top: 1rem;
  font-size: 1.2em;
  font-family: "lato bold";
  margin-bottom: 1rem;
  color: #404041;
}

.formulaire_notif_user .input_notifs label {
  font-family: "lato bold";
  color: #f05a28;
}

.formulaire_notif_user .input_notifs p {
  margin-bottom: 1rem;
  font-family: "lato";
  color: #404041;
}

.formulaire_notif_user .btn {
  margin-top: 1rem;
  font-family: "lato bold";
  background-color: #f05a28;
  color: white;
  width: 100%;
}

.prochain_match {
  color: #404041;
}

.prochain_match h4 {
  margin-top: 1rem;
  font-size: 1.2em;
  font-family: "lato bold";
  margin-bottom: 1rem;
}

.prochain_match p {
  font-family: "lato";
}

.prochain_match p span {
  font-family: "lato bold";
  color: #f05a28;
}
/*# sourceMappingURL=style.css.map */