@font-face {
  font-family: "lato light";
  src: url("../font/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "lato";
  src: url("../font/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "lato bold";
  src: url("../font/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "lato italic";
  src: url("../font/lato/Lato-Italic.ttf");
}

.body .main {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .main .side_bar {
  background-image: url("../maquettes/img/bg_sidebar.jpg");
  width: 25%;
}

.body .main .side_bar .profil {
  font-family: "lato bold";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
}

.body .main .side_bar .profil .type_user {
  font-family: "lato light";
  color: white;
}

.body .main .side_bar nav ul {
  margin: 3rem 0 0 0;
  padding: 0;
}

.body .main .side_bar nav ul li {
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.body .main .side_bar nav ul li a {
  text-decoration: none;
  font-family: "lato";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.body .main .side_bar nav ul li .underline {
  height: 2px;
  border-bottom: solid white 1px;
}

.body .main .infos_connec {
  background-color: #e6e7e8;
  height: 10vh;
  width: 100%;
}

.body .main_saison {
  background-color: red;
}

.body .main_notifs h3 {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "lato bold";
}

.body .main_notifs .info_error {
  text-align: center;
  font-family: "lato bold";
  color: #f05a28;
}

.body .main_notifs .add_events {
  margin-top: 2rem;
  padding: 0 2rem 2rem 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 0px #cfcfcf;
          box-shadow: 5px 5px 15px 0px #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.body .main_notifs .add_events .formulaire_notif .input_notifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .main_notifs .add_events .formulaire_notif .input_notifs label {
  margin-top: 2rem;
  font-family: "lato bold";
  color: #f05a28;
}

.body .main_notifs .add_events .formulaire_notif .btn {
  margin-top: 2rem;
  font-family: "lato bold";
  background-color: #f05a28;
  color: white;
  width: 100%;
}

.body .main_notifs .add_events .dernier_match {
  margin-top: auto;
  margin-bottom: auto;
  color: #404041;
}

.body .main_notifs .add_events .dernier_match h4 {
  font-size: 1.2em;
  font-family: "lato bold";
  margin-bottom: 2rem;
}

.body .main_notifs .add_events .dernier_match p {
  font-family: "lato";
}

.body .main_notifs .add_events .dernier_match p span {
  font-family: "lato bold";
  color: #f05a28;
}
/*# sourceMappingURL=style.css.map */